@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  color: rgb(75, 73, 73);
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.simulation-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 120%;
  height: 80vh;
  margin-top: 10px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
}

.floor-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 10vh;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.lift-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lift-number {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.floor-number {
  font-size: 10px;
  font-weight: bolder;
}

.floor-button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5px;
}

.floor-button:hover {
  background-color: #2980b9;
}
