@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  color: rgb(75, 73, 73);
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
