@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  color: rgb(75, 73, 73);
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.floor {
  background-color: rgb(206, 151, 111);
  max-width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  border: 2px solid #4e1b1b;
  box-sizing: border-box;
  position: relative;
  flex-wrap: nowrap;
}

.lift {
  width: 60px;
  display: flex;
  color: FFFFFF;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.liftLeftDoor,
.liftRightDoor {
  background-color: #778899;
  width: 30px;
  height: 96px;
  position: absolute;
  top: 0;
  transition: width 2.5s linear;
}

.liftLeftDoor {
  border-right: 3px solid black;
  /* left: 0; */
}

.liftRightDoor {
  border-left: 3px solid black;
  right: 0;
}

#simulation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
  align-items: center;
}

.floors-border {
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #0aa34a;
}

.floorDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
  min-width: 50px;
}

.floorButtons {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  justify-content: center;
  justify-items: center;
}
.lifts-container {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  flex-wrap: nowrap;
  max-width: 100px;
  margin: 0 auto;
  padding: 4px;
}
